/* Footer.js */
.footer_box {
  background-color: #349eff;
  padding: 20px;
  text-align: center;
  }
.footer_grid {
  display: grid;
}
.footer_item {
  margin: 20px;
  color: #fff;
  font-size: .875em;
  line-height: 1.5em;
}
.footer_info {
  border-top: 1px solid #fff;
  padding-top: 20px;
  font-size: .75em;
  font-weight: 400;
  line-height: 1.5em;
  color: #fff
}
.footer_title {
  font-size: 1.250em;;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff
}
.footer_body {
  font-weight: 300;
  line-height: 2em;
  padding-top: 12px;
  text-align: justify;
  font-size: 14px;
}

/* NavbarFooter.js */
.footer_menu_box {
  list-style-type: none;
  text-align: center;
  font-weight: 400;
}
.footer_menu_item a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}
.footer_menu_item a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  margin-bottom: -3px;
}
.footer_menu_item a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer_menu_item a:hover {
  color: #000
}

@media only screen and (min-width: 768px) {

  .footer_grid {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

}