/* Header screen */
.header_screen {
    background: linear-gradient(135deg, #349EFF 0%, #002546 100%);
    background-repeat: no-repeat;
    margin: 0;
}
.header_box {
    display: grid;
    grid-template-rows: 1 1;
    align-items: center;
}
.header_info {
    text-align: center;
    color: #fff;
    padding: 3em 2em;
}
.header_info span {
    text-transform: uppercase;
    font-size: .875em;
    font-weight: 500;
}
.header_info h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0 1em 0;
}
.header_info p {
    font-size: .875em;
    font-weight: 300;
    line-height: 2em;
}
.header_img {
    background-color: transparent;
}
.btn {
    margin-top: 3em;
}
.header_btn_box {
    margin-top: 3em;
}

/* Client screen */
.client_screen {
    color: #000;
    text-align: center;
    padding: 3em 2em;
}
.section_header {
    text-transform: uppercase;
    font-size: .875em;
    font-weight: 700;
    color: #349eff
}
.section_subheader {
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0 1em 0;
}
.section_paragraph {
    font-size: .875em;
    line-height: 2em;
}
.client_grid_box {
    display: grid;
    row-gap: 10px;
    margin: 2em 0;
}
.client_grid_item {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8125em;
    font-weight: 600;
    padding: 2em;
    line-height: 2em;
}
.client_grid_icon {
    font-size: 3em;
    color: #349eff;
    padding-bottom: 1em;
}

/* Services screen */
.service_screen {
    background-color: #e0f0ff;
    margin: 0;
    color: #000;
    text-align: center;
    padding: 3em 2em;
}
.service_grid {
    display: grid;
    row-gap: 2.5em;
    margin-top: 3em;
}
.service_item {
    box-shadow: 0px 0px 4px #000;
    border-radius: 0.5em;
    background-color: #fff;
}
.service_image {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.service_content {
    background-color: #fff;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.service_content p {
    padding: 1em 2em;
    font-size: 0.875em;
    line-height: 1.5em;
    text-align: justify;
}
.service_title {
    background-color: transparent;
    position: relative;
    bottom: 0.75em;
    font-size: 1em;
    text-transform: uppercase;
}
.service_title span {
    background-color: #fff;
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 4px #000;
}
.service_link {
    padding: 1em 2em 2em 2em;
    transition: all 200ms ease-in;
    font-weight: 600;
    font-size: 0.875em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_link:hover {
    color: #349EFF;
    cursor: pointer;
}
.service_toggle {
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0px 0px 4px #000;
    border-radius: 0.5em;
    background-color: #fff;
}
.toggle_box {
    margin-top: 1em;
}
.toogle_grid {
    display: grid;
    row-gap: 2.5em;
    margin: 1em 0;
}
.toggle_arrow {
    font-size: 3em;
}
.toggle_content {
    background-color: #349eff;
    border-radius: 0.75em;
    padding: 0.75em;
    text-align: left;
}
.toggle_content span {
    background-color: #FA6703;
    position: relative;
    bottom: 1.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
}
.toggle_content p {
    font-size: 0.875em;
    color: #fff;
}

/* Reference  screen */
.ref_screen {
    background-color: #000;
    text-align: center;
    padding: 40px;
}
.ref_header {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0 1em 0;
}
.ref_source {
    margin-top: 2em;
    color: #fff;
    font-size: 0.75em;
    line-height: 2em;
}
.ref_grid {
    display: grid;
    row-gap: 40px;
    color: #fff;
}
.ref_item {
    margin: 20px 0;
}
.ref_stars {
    color: gold;
    font-size: 1.5em;
}
.ref_text {
    font-size: .875em;
    font-weight: 400;
    line-height: 2em;
    margin: 20px 0;
}
.ref_client {
    font-size: 1.125em;
    font-weight: 600;
}
.ref_profession {
    font-size: .875em;
    font-weight: 400;
    margin: 6px 0;
}

/* Price Screen */
.price_screen {
    background-color: #fff;
    margin: 0;
    color: #000;
    text-align: center;
    padding: 3em 2em;
}

@media only screen and (min-width: 768px) {

    .header_screen {
        padding: 40px 40px 0 40px
    }
    .header_box {
        grid-template-columns: 40% 60%;
    }
    .header_img {
        order: 1;
        align-self: end;
        padding: 40px 40px 0 40px;
    }
    .header_info {
        order: -1;
        text-align: left;
        padding: 0;
        align-self: start;
        padding: 40px 0 40px 40px;
    }
    .header_btn_box{
        display: flex;
        flex-direction: row;
    }
    .btn_2 {
        margin-left: 20px;
    }
    .client_grid_box {
        grid-template-columns: auto auto auto;
        column-gap: 0.75em;
    }
    .ref_grid {
        grid-template-columns: auto auto;
        column-gap: 2.5em;
    }
    .service_grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }
    .toogle_grid {
        grid-template-columns: 1fr 3em 1fr 3em 1fr 3em 1fr;
        column-gap: 1em;
    }
    .toggle_arrow {
        transform: rotateZ(-90deg);
        display: flex;
        align-items: center;
    }

}

@media only screen and (max-width: 1050px) {

    .header_btn_box {
        flex-direction: column;
    }
    .btn_2 {
        margin: 20px 0 0 0;
    }

}